/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Roboto', sans-serif;
}

label {
    display: inline-block;
    width: 10em;
    margin: .5em 0;
    font-weight: bold;
    color: #373277;
}
.navbar {
    margin-bottom: 0;
}

.navbar-brand img {
    width: 100px;
}

.list-group-item-header {
    margin: 0 auto;
    max-width: 75%;
    padding: 10px;
    font-size: 48px;
    text-align: center;
}

.houses {
    margin: 0 auto;
    max-width: 75%;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.houses:hover {
    background-color: lightblue;
}

.even {
    background-color: #e7cdcd;
}

.odd {
    background-color: #cde7cd;
}

.house-info {
    flex: 0 0 20%;
}

.not-participating {
    color: darkgray;
}

.grayed-out {
    opacity: 0.35;
}

.house-address {
    font-size: 28px;
    text-align: center;
    flex: 0 0 50%;
}

.house-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 30%;
}

.house-icon {
    font-size: 36px;
    text-align: center;
    width: 40px;
    cursor: help;
}

.vis-hidden {
    visibility: hidden;
}

/*Map styles*/
#map {
    height: 800px;
}

.info-window {
    text-align: center;
}