/* You can add global styles to this file, and also import other style files */

.houses {
    list-style-type: none;
    border: 2px solid grey;
    background-color: #DDD;
    border-radius: 5px;
    max-width: 75%;
    margin: 5px;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.house-info {
    flex: 0 0 25%;
}

.not-participating {
    color: grey;
}

.house-address {
    font-size: 28px;
    text-align: center;
    flex: 0 0 50%;
}

.house-icons {
    display: flex;
    justify-content: space-around;
}

.house-icon {
    height: 30px;
    width: 30px;
    cursor: help;
}

.hidden {
    visibility: hidden;
}