/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Roboto', sans-serif;
}

label {
    display: inline-block;
    width: 10em;
    margin: .5em 0;
    font-weight: bold;
    color: #373277;
}

.main-title {
    text-align: center;
    font-size: 42px;
}

.top-nav-links {
    margin: 15px;
}

.top-nav-link {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.top-nav-link:hover {
    background-color: lightblue;
}

.houses {
    list-style-type: none;
    border: 2px solid grey;
    border-radius: 5px;
    max-width: 75%;
    margin: 5px;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.houses:hover {
    background-color: lightblue;
}

.even {
    background-color: #CCC;
}

.odd {
    background-color: #EEE;
}

.house-info {
    flex: 0 0 25%;
}

.not-participating {
    color: darkgray;
}

.grayed-out {
    opacity: 0.35;
}

.house-address {
    font-size: 28px;
    text-align: center;
    flex: 0 0 50%;
}

.house-icons {
    display: flex;
    justify-content: space-around;
}

.house-icon {
    height: 30px;
    width: 30px;
    cursor: help;
}

.hidden {
    visibility: hidden;
}
